:root {
  --clr-dark: rgb(39, 39, 39);
  --clr-light: white;
  --sky-blue: rgb(172, 198, 253);
}

html {
  padding: 0;
  margin: auto;
  font-family: Cinzel;
  max-width: 75%;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  background-color: var(--clr-light);
  opacity: 1;
  /* background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #000000 12px
    ),
    repeating-linear-gradient(#49494955, #494949); */
}

footer {
  display: flex;
  flex-grow: 1;
  background-color: var(--sky-blue);
  margin-top: auto;
  font-size: 2em;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  color: white;
  height: auto;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}

footer p {
  margin: 0;
  padding-top: 28px;
  padding-bottom: 28px;
}

.main-box {
  /* min-width: 400px; */
}

.pic-con img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}

.pic-con {
  position: relative;
  display: flex;
}

.text-box {
  display: flex;
  position: absolute;
  max-width: 90%;
  color: rgb(11, 0, 114);
  /* top: 100px; */
  left: 0.5em;
  max-height:auto ;
  display: flex;
  font-size: calc(1.6em - 0.1vw);
  opacity: 1;
  flex-shrink: 0;
  box-sizing: border-box;
}

.text-box p{
  margin: 10px;
}
.text-box .loveSpan {
  color: rgb(255, 70, 101);
  text-transform: uppercase;
}

.text-box .spanName {
  color: var(--sky-blue);
  font-size:calc(1.8em - 0.3vw);
}

.text-body {
  width: auto;
  height: fit-content;
  background-color: rgb(172, 198, 253);
  margin: 0px 0px;
  display: flex;
  font-size: clamp(0.8em, 1em, 1em);
  padding: 1em;
  text-align: justify;
  text-align-last: center;
  color: white;
}

.gridbox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 10px;
  margin-top: 20px;
  align-items: center;

}

.item1,
.item2,
.item3 {
  color: rgb(119, 119, 119);
  background-color: rgb(255, 255, 255);
  /* font-size: clamp(3vw, 4vw, 3vw); */
  font-size:calc(1.2em - 0.3vw);
  display: inline-block;
  flex-direction: column;
  text-align: center;
  position: relative;

}

.item1 span,
.item2 span,
.item3 span {
  color: rgb(24, 207, 0);
  /* font-size: clamp(5vw, 6vw, 5vw); */
  font-size:calc(1.5em - 0.3vw);
  font-weight: bold;
  display: block;
  text-align: center;
}

.item1::before {
  content: "";
  background-image: url(pictures/clock-svgrepo-com.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

.item2::before {
  content: "";
  background-image: url(pictures/shield-check-svgrepo-com.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

.item3::before {
  content: "";
  background-image: url(pictures/check-mark-svgrepo-com.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

